* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background-image: url(/assets/nan2.jpg);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  color: white;
}

.header {
  background-color: lightgoldenrodyellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.logo {
  width: 140px;
}

.container a {
  color: black;
  font-weight: bold;
  margin-left: 25px;
}

.container a :hover {
  color: red;
}

.comedy-head {
  display: grid;
  grid-template-columns: repeat(3, 500px);
  gap: 30px;
  padding: 50px 40px;
}

.comedy {
  background-color: black;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}

.comedy img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.comedy a {
  display: block;
  background-color: lightcoral;
  padding: 14px;
  color: white;
  font-weight: bold;
}

.comedy a:hover {
  background-color: black;
}

footer {
  background-color: lightgoldenrodyellow;
  display: flex;
  padding: 15px 40px;
  border-radius: 10px;
  box-shadow: 4px 10px black;
  margin-top: 2px;
  font-weight: bold;
  color: black;
}
a {
  text-decoration: none;
  color: black;
  font: bold;
}
.foot {
  display: flex;
  justify-content: space-between;
}
.footmenu > a {
  padding: 40px;
}
